*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
body{
   overflow-y: hidden;
    overflow-x: hidden;
}
#sign_up{
    background-color: rgb(223,223,223,0.1);
}
.logo{
    margin-top: 20px;
    width: 137px;
    height:64px;
 
}
.first{
  background-image:url(../image/container.png) ;
  background-position: center;
  background-size:cover ;
  width: 684px;
  border-radius: 5px;
}
.second{
    background-image: url(../image/container2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  
 
}
.registerfield{
 padding-left: 100px;

 
}
.head{
    font-family: "Quicksand", sans-serif;
    font-size:40px ;
    font-weight: 700;
   margin-top: 100px;
   color: #2C1B5A;
}
.p{
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #9C98A9;
    margin-top: 15px;
    margin-bottom: 18px;
}
.login{
color: #4D308E;
margin-left: 7px;
text-decoration: none;
}
.label{
    display: flex;
    justify-content: space-between;
}
.email{
    font-family: "Quicksand", sans-serif;
    font-size:20px ;
    font-weight: 700;
    color: #2C1B5A;
    display: inline;
}
.number{
    display: inline;
    margin-left: 105px;
    font-family: "Quicksand", sans-serif;
    font-size:20px ;
    font-weight: 700;
    color: #9C98A9;

}
.inputfield{
    display:block;
    margin-top: 15px;
    border: 2px solid;
   border-radius: 8px;
   border-color: #DDD;
    height: 48px;
    width: 430px;
}
.inputfield:hover{
    border-color: #4D308E;
}
::placeholder {
    font-family: "Quicksand", sans-serif;
    font-size:20px ;
    font-weight: 600;
    color: #9C98A9;
    padding-left: 20px;
  }
.continueBtn{
    height: 45px;
    width: 430px;
    text-align: center;
    background-color: #4D308E;
    margin-top: 25px;
    border: 1px solid;
    border-color: #4D308E;
    border-radius: 50px;
    font-family: "Quicksand", sans-serif;
    font: size 16p ;
    font-weight: 700;
    color: #FFF;
   

}
.phonebtn{
    height: 45px;
    width: 430px;
    background-color: rgb(77,48,142,0.1);
    margin-top: 25px;
    border: 1px solid;
    border-color: #A594C5;
    border-radius: 50px;
    font-family: "Quicksand", sans-serif;
    font: size 16p ;
    font-weight: 700;
    color: #4D308E;
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
   margin-bottom: 200px;

}
.phonebtn i{
    margin-right: 10px;
}
.overlay{
    padding: 300px;
    background-color:#f7f5fab5 ;
    visibility: hidden;
   }